MONGODB_URI=mongodb+srv://USER:PASSWORD@cluster.mongodb.net/sutra
AUTH_SECRET=generate-at-https://generate-secret.vercel.app/32
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
OPENAI_API_KEY=
ENCRYPTION_KEY=generate-at-https://generate-secret.vercel.app/64
NEXT_PUBLIC_APP_URL=http://localhost:3000
