MONGODB_URI=mongodb+srv://darshanpakhale250_db_user:<Darshan@123>@cluster0.lbnlmlg.mongodb.net/?appName=Cluster0
AUTH_SECRET=generate-at-https://generate-secret.vercel.app/32
NEXTAUTH_URL=http://localhost:3000
GOOGLE_CLIENT_ID=28069640690-j9qs4okm4ntl4apmu0aq0qg8vuisuk4o.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GITHUB_CLIENT_ID=Ov23lizhlxb74Ac34mXv
GITHUB_CLIENT_SECRET=36ae71b597d2772eaba09c23df8a5f52687fe518
OPENAI_API_KEY=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
ENCRYPTION_KEY=generate-at-https://generate-secret.vercel.app/64
NEXT_PUBLIC_APP_URL=http://localhost:3000
